* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica;
}

.title {
  padding: 20px 0px;
  font-size: 1.5em;
  color: brown;
  font-weight: bold;
}

header {
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* ===================================================================================================== */

nav {
  background-color: brown;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: aliceblue;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
}
.links a {
  color: blanchedalmond;
}
.links a:hover {
  color: lightgray;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.email,
.phone {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  font-size: 0.5em;
  font-weight: lighter;
}

/* ===================================================================================================== */

#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.text h1 {
  font-size: 2.5em;
  color: chocolate;
  padding-bottom: 20px;
}
.text p {
  color: dimgray;
  text-align: justify;
  line-height: 1.3em;
  letter-spacing: 0.08em;
}

/* ===================================================================================================== */

#skills {
  padding: 50px;
}

.skill_box {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.skill img {
  height: 100px;
  padding-bottom: 10px;
}
.skill h3 {
  padding-bottom: 10px;
}
.skill {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 15px;
  text-align: center;

  box-shadow: 5px 5px 10px #000000b9;
}
.skill:hover {
  background-color: bisque;
}

/* ===================================================================================================== */

#projects {
  padding: 50px;
}

#projects ul {
  padding: 0px 30px;
}

#projects li {
  padding: 15px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  list-style: none;
}

#projects h3 {
  text-decoration: underline;
  color: chocolate;
  padding-bottom: 10px;
}

#projects p {
  padding: 7px;
  font-size: 1.1em;
  background-color: rgb(255, 205, 145);
  border-radius: 5px;
}

/* ===================================================================================================== */

#reco {
  padding: 50px;
}

.reco-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.reco-card {
  background-color: white;
  border: 0px solid black;
  border-radius: 10px;
  border-left: 15px solid chocolate;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 350px;
}

.quote {
  font-style: italic;
  color: black;
  line-height: 1.6;
}

/* .quote::before,
.quote::after {
  content: "“";
  font-size: 24px;
  color: brown;
} */

/* ===================================================================================================== */

#form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  padding-bottom: 50px;
}

#form h2 {
  text-align: center;
  color: black;
  padding: 20px;
}

#form input[type="text"],
#form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: aliceblue;
}
#form input[type="text"]:focus,
#form textarea:focus {
  border-color: chocolate;
  background-color: aliceblue;
  outline: none;
  box-shadow: 0 0 5px rgba(173, 13, 21, 0.3);
}

#form textarea {
  height: 120px;
  resize: none;
}

#form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: brown;
  color: aliceblue;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.25s;
}
#form input[type="submit"]:hover {
  background-color: chocolate;
}

#home {
  position: absolute;
  right: 20px;
}
